registry=https://umbrella.pkgs.visualstudio.com/_packaging/UmeTeamFeed/npm/registry/always-auth=true
umbrella.pkgs.visualstudio.com/_packaging/UmeTeamFeed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmYTdjMjE5Yy04M2VlLTQxNDctOWM2Yy0yZjdlZTRkNDMwYjciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMmRjYjViMmMtNThkNi00OGZjLTlhMDQtYjg5ZWIzMDMxYThhIiwic2lkIjoiZTY0YTkwODYtYjQyZS00Y2UyLWE0OWQtMzYzM2NmMzhjNjIyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NDIwODZkOWItN2UyYy00Yzk4LWEwNDUtNThhMDc2MmU3YTVmIiwibmJmIjoxNTQxNDI3NzEyLCJleHAiOjE1NDkyMDQzMTJ9.F4odfyVhlr-3D3Rq3ZuP3UeXLQH4xT92CgH8TabLloDPHgrjKnpVFlHOXho3j8uYNl6CLmS-YHUC5zZucWrQmaS2IOfz0U15yC06sbFnkAIiGMPARUw_8V5mOk1tCAMP_VIGrSrn639_vzk2UDQwCGkxPKFu6xbejEY-pPb9LY-NIgifkHYnvmGw8G1tV6186Y9uuFScVC8COT2pwdy5MaKXCGMYTVydj1bhVNzteltqLHFwbKZNoVQCN2k-GYfGFJWzbMJWk-xv2bTtRn5nA_f1YDBW7a6JfJtTLQI3L1o9DUdRbK4rIKr72uLNBR0ffRcjJ4olnZxloGjEu3WwTg
umbrella.pkgs.visualstudio.com/_packaging/UmeTeamFeed/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmYTdjMjE5Yy04M2VlLTQxNDctOWM2Yy0yZjdlZTRkNDMwYjciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMmRjYjViMmMtNThkNi00OGZjLTlhMDQtYjg5ZWIzMDMxYThhIiwic2lkIjoiZTY0YTkwODYtYjQyZS00Y2UyLWE0OWQtMzYzM2NmMzhjNjIyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NDIwODZkOWItN2UyYy00Yzk4LWEwNDUtNThhMDc2MmU3YTVmIiwibmJmIjoxNTQxNDI3NzEyLCJleHAiOjE1NDkyMDQzMTJ9.F4odfyVhlr-3D3Rq3ZuP3UeXLQH4xT92CgH8TabLloDPHgrjKnpVFlHOXho3j8uYNl6CLmS-YHUC5zZucWrQmaS2IOfz0U15yC06sbFnkAIiGMPARUw_8V5mOk1tCAMP_VIGrSrn639_vzk2UDQwCGkxPKFu6xbejEY-pPb9LY-NIgifkHYnvmGw8G1tV6186Y9uuFScVC8COT2pwdy5MaKXCGMYTVydj1bhVNzteltqLHFwbKZNoVQCN2k-GYfGFJWzbMJWk-xv2bTtRn5nA_f1YDBW7a6JfJtTLQI3L1o9DUdRbK4rIKr72uLNBR0ffRcjJ4olnZxloGjEu3WwTg
